.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: rgb(250, 229, 112);
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: gold ;
    color:black;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: goldenrod;
}

.linked{
    cursor: pointer;
}

.video_Container{
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.frame{
    position: absolute;
}

.search-result{
    min-height: 90vh;
}